body{
	background-color: white;
	margin-bottom: 50px;
}

.header_main{
	font-family: Montserrat,sans-serif;
	text-align: center;
	font-size: 18px;
	margin-bottom: 30px;
}

.extra_b1{
	color: #2ca4ab;
	font-size: 35px;
	font-weight: bold;	
}

a{
	color: #0060B6;
	text-decoration: none;
}

#verseSelector{
	background-color: #f0fff4;
	font-family: Montserrat,sans-serif;
	font-size: 18px;
	padding: 5px;
	border-radius: 5px;
}

.verses {
	width: 60%;
	background-color: #f0fff4;
	transform: translate(34%,0%);

	display: inline-block;
	margin-top: 50px;
	border-radius: 10px;
}

.verse_heading{
	text-align: center;
	font-family: Montserrat,sans-serif;
	color: #315c3f;
	font-size: 25px;
	font-weight: bold;
	padding-top: 10px;
}

.verse_chapter{
	text-align: left;
	font-family: Montserrat,sans-serif;
	color: #2ca4ab;
	font-size: 20px;
	font-weight: bold;
	padding-left: 20px;
	padding-top: 10px;
}

.verse_text{
	text-align: left;
	font-family: Montserrat,sans-serif;
	color: #777;
	font-size: 18px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 50px;
	padding-right: 20px;
}
.verses:hover{
	background-color: #fff;
	box-shadow: 0px 5px 50px -8px orangered;

	cursor: pointer;
	animation-name: flash_border;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-name: flash_border;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: flash_border;
	-moz-animation-duration: 2s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

@keyframes flash_border {
  0% {
    box-shadow: 0px 5px 50px -8px orangered;
  }
  50% {
    box-shadow: 0px 5px 50px -8px gold;
  }
  100% {
    box-shadow: 0px 5px 50px -8px orangered;
  }
}

@-webkit-keyframes flash_border {
  0% {
    box-shadow: 0px 5px 50px -8px orangered;
  }
  50% {
    box-shadow: 0px 5px 50px -8px gold;
  }
  100% {
    box-shadow: 0px 5px 50px -8px orangered;
  }
}

@-moz-keyframes flash_border {
  0% {
    box-shadow: 0px 5px 50px -8px orangered;
  }
  50% {
    box-shadow: 0px 5px 50px -8px gold;
  }
  100% {
    box-shadow: 0px 5px 50px -8px orangered;
  }
}